# Integrated Development Environment
.idea
.vscode

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.direnv/

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

README.md
